I'm the show page!

<% if current_user.id == @user.id %>

  First Name: <%= @user.first_name %><br>
  Last Name: <%= @user.last_name %><br>
  Nickname: <%= @user.nickname %><br>
  Email: <%= @user.email %><br>
  Phone: <%= @user.phone %><br>
  Birthdate: <%= @user.birthdate %><br>
  Photo: <img src="<%= @user.image_url %>"/> <br>
  <%= link_to "Edit Your Info!", edit_user_path %>

  <br>
  <br>

  <p>Turn lights on and off!</p>

  <% @user.lightbulbs.each do |lightbulb| %>
    <p>Lightbulb Name: <%= lightbulb.bulb_name.upcase %> </p>

    <%= form_for lightbulb do |f| %>
      <%= f.hidden_field :bulb_name %>
      <%= f.hidden_field :state, :value => true %>
      <%= f.submit "Turn On" %>
    <% end %>

    <%= form_for lightbulb do |f| %>
      <%= f.hidden_field :bulb_name %>
      <%= f.hidden_field :state, :value => false %>
      <%= f.submit "Turn Off"%>
    <% end %>

  <% end %>

<% end %>
