
<% if current_user.id == @user.id %>

  <div><img src="<%= @user.image_url %>"/></div>
  <div>First Name: <%= @user.first_name %></div>
  <div>Last Name: <%= @user.last_name %></div>
  <div>Nickname: <%= @user.nickname %></div>
  <div>Email: <%= @user.email %></div>
  <div>Phone: <%= @user.phone %></div>
  <div>Birthdate: <%= @user.birthdate %></div>

<% end %>
