<!DOCTYPE html>
<html>
<head>
  <title>Homebase</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src='https://cdn.firebase.com/js/client/2.1.0/firebase.js'></script>
    <%= csrf_meta_tags %>
</head>
<body>
   <div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <%= link_to "Map", map_path, id: "map" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
<div>
  <%= yield %>
</div>

</body>
</html>
