<!DOCTYPE html>
<html>
<head>
  <title>Homebase</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src='https://cdn.firebase.com/js/client/2.1.0/firebase.js'></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
</head>
<body>
   <div>
    <% if current_user %>
      <nav>
        <div class="nav-wrapper blue-grey">
            <a href="#" class="brand-logo" style='width: 2.5em; height: 1.7em;'>
              <img class='responsive-img' src="http://i.imgur.com/xCkwbWJ.png">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/users/<%= current_user.id %>/families/<%= current_user.family_id %>">Family Page</a></li>
                <li><a href="/users/<%= current_user.id %>"><%= "My Profile" %></a></li>
                <li><%= link_to "Edit Profile", edit_user_path %></li>
                <li><a href="/signout">Signout</a></li>
            </ul>
          </div>
      </nav>
    <% end %>

  </div>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
